*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
  list-style: none;
}

.nav__menu {
  justify-content: center;
  background-color: aquamarine;
  display: flex;
  gap: 30px;
  padding: 20px;
  color: darkblue;
}

.section-welcome {
  width: 80%;
  margin: 30px auto;
  text-align: center;
}

.heading-1 {
  font-size: 50px;
}